
.announce {
  background-color: #ffc;

  font-size: 18px;
  padding: 8px 8px 4px 8px; /* top right bottom left */
  margin: 6px 0 6px 0; /* top right bottom left */
  border: 1px solid $color-primary;

  a {
   color: $color-primary;
   text-decoration: none;
   &:visited {
    color: $color-primary;
   }
   &:hover {
    color: $color-primary;
    text-decoration: underline;
   }
  }
} // .announce
