
.banner {
  color: white;
  background-color: #333333;
  // font-size: 12px;
  padding: 6px 6px 4px 8px;
  margin: 0 0 8px 0;

  a,
  a:visited {
    text-decoration: none;
    color: white;
    background-color: #333333; }
  a:hover {
      text-decoration: underline; }
}
