
.gallery {

   background-color: #f4f4f4;

   margin-top:   24px;  // add some more space
   margin-bottom: 24px;
   margin-left:   24px;
   margin-right:  24px;


  .theme {
    display: inline-block;
    vertical-align: top;
    text-align: center;

    width: 354px;   /* note: 330+24px add margin+border */
    background-color: white;
    margin-bottom: 24px;  // was: 15px;
    margin-right: 24px;   // was: 15px;
    padding: 10px 15px;    

    .theme-info {
      margin-bottom: 10px;
    }

    .theme-preview img   {
      border: 1px solid #bbb;
    }
 
  } // .theme
} // .gallery

