///////////////////////////////////////
// css theme variables / settings


$font-family: Helvetica,Arial,sans-serif;

$color-primary:  #cc0000;  // was: red; try a little darker red (not so bright)

