---
### note: will result in an all-in-one-file stylesheet e.g. style.css
---

@import 'settings';


body {
 // find a better font - why? why not??
 font-family: $font-family;
 
  color: #333333;
  margin: 0;
}

// assume this structure:
//  1) front
//  2) gallery  (see _gallery.scss)
//  3) back

#front {
  padding-top: 12px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}

#back {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}


a, a:visited {
  color: $color-primary;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}




#header {
  padding: 0.25em;

  .big
  {
    display: inline-block;
    text-align: center;

    font-family: 'Playball', cursive;
    font-size: 240%;
    // font-weight: bold;
    color: white;
    background-color: $color-primary;
    padding: 12px;
  }

  .small
  {
    font-size: 120%;
    // color: gray;
    padding-left: 15px;
  }
} // # header



#nav {
  padding: 0.5em;

  a, a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}


.announce {
  background-color: #ffc;

  font-size: 18px;
  padding: 8px 8px 4px 8px; /* top right bottom left */
  margin: 6px 0 6px 0; /* top right bottom left */
  border: 1px solid $color-primary;

  a {
   color: $color-primary;
   text-decoration: none;
   &:visited {
    color: $color-primary;
   }
   &:hover {
    color: $color-primary;
    text-decoration: underline;
   }
  }
} // .announce



// note: add some padding for now
//   post uses same default layout as theme for now
//   use class="posts container" and "post container"
.posts.container, 
.post.container {
  padding-top: 12px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}


/* fix: use javascript?? jquery to add .programlisting class
  to pre tags followed by code e.g. <pre><code> => <pre class='programlisting'><code>
   for now assume all pres are programlistings
*/ 
pre,
.programlisting
{
  padding: 4px 4px 4px 4px;
  border-top: #bbb 1px solid;
  border-bottom: #bbb 1px solid;
  background: #f3f3f3;
}


@import 'gallery';

