---
### note: will result in an all-in-one-file stylesheet e.g. style.css
---

@import 'settings';


body {
 // find a better font - why? why not??
 font-family: $font-family;
 
  background-color: #f4f4f4;
  color: #333333;
}


a, a:visited {
  color: $color-primary;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  // background-color: $color-link-hover;
}



#header {
  padding: 0.25em;

  .big
  {
    font-size: 300%;
    font-weight: bold;
    color: $color-primary;
  }

  .small
  {
    font-size: 120%;
    // color: gray;
    padding-left: 15px;
  }
} // # header


.announce {
  background-color: $color-primary; // red;
  color: white;
  font-size: 18px;
  padding: 8px 8px 4px 8px; /* top right bottom left */
  margin: 6px 0 6px 0; /* top right bottom left */
  border: 1px solid $color-primary;

  a {
   color: white;
   // text-decoration: none;
   text-decoration: underline;
   &:visited {
    color: white;
   }
   &:hover {
    color: $color-primary; // red;
    background-color: white;
   }
  }
} // .announce



#nav {
  padding: 0.5em;

  a, a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

@import 'gallery';

