---
layout: debug
title:  "Themes by Author (Sorted by Themes Count)"
---

{% assign sorted_authors = site.data.o.authors | sort: 'themes_count' | reverse  %}


{% for author in sorted_authors %}
<p>
  {{ forloop.index }}.

  <b>{{ author.name }}</b>
   ★{{ author.stars }} (⇑{{ author.stars_week}}) -

   {{ author.themes | size }}:

  {% for theme_name in author.themes %}
    {% assign theme = site.data.o.theme_by_name[ theme_name ] %}
    {{ theme.name }}
    <span style="font-size: 80%; color: navy;">
      {% include theme_stars.html theme=theme %}
    </span>

    {% if forloop.last %} {% else %} • {% endif %}
  {% endfor %}
</p>
{% endfor %}
