---
layout: page
title:  "Newest"
---


{% assign top_themes = site.data.o.themes | sort: "created" | reverse %}
<table>
{% for theme in top_themes limit:11 %}
  <tr>
    <td>
      <span title="Last Update: {{ theme.updated | date: '%B %d, %Y' }} ++ {{ theme.commit_msg }}">
        {{ theme.created | date: '%B %d, %Y' }}
      </span>
    </td>

    <td>
      <div>
         <a href="{{ theme.home_url }}">
          <img height="100" src="{{site.path}}/themes/thumbnails/{{theme.thumbnail}}">
         </a>
      </div>
    </td>

    <td>
          <div>
              <a href="{{ theme.home_url }}"><b>{{ theme.name }}</b></a>
              {% include theme_stars.html theme=theme %}
              by
              {% include author.html author=theme.author %}

              (License: {{ theme.license }})
              <br>
              {% include theme_links.html theme=theme %}
          </div>

    </td>
  </tr>
{% endfor %}
</table>
