---
layout: page
title:  "Top 22"
---


{% assign top_themes = site.data.o.themes.themes | sort: "stars" | reverse %}
<table>
{% for theme in top_themes limit:22 %}
  <tr>
    <td>
        <span style="font-size: 300%">{{ forloop.index }}.</span>
    </td>

    <td>
      <div>
         <a href="{{ theme.home_url }}">
          <img src="{{site.path}}/themes/thumbnails/{{theme.thumbnail}}">
         </a>
      </div>
    </td>

    <td>
          <div>
              <a href="{{ theme.home_url }}"><b>{{ theme.title }}</b></a>
              ★ {{ theme.stars }}
              by
         <!-- note: for now strip et al -->
        {% assign theme_author = theme.author | replace: ' et al', '' %}        
        {% assign known_author = site.data.authors[ theme_author ] %}

        {% if known_author %}
          {% assign theme_avatar = known_author.github %}
          <a href="{{ theme_avatar }}">{% avatar user=theme_avatar size=20 %}</a>
        {% endif %}
            
              {{ theme.author }}
              (License: {{ theme.license }})
              <br>
              {% if theme.demo_url %}
                 <a href="{{ theme.demo_url }}">[Live Demo]</a>
              {% endif %}
              <a href="{{ theme.download_url }}">[Download (.zip)]</a>
          </div>

    </td>
  </tr>
{% endfor %}
</table>
