---
layout: page
title:  "Top 22"
---


{% assign top_themes = site.data.o.themes | sort: "stars" | reverse %}
<table>
{% for theme in top_themes limit:22 %}
  <tr>

    <td>
        <span style="font-size: 300%">{{ forloop.index }}.</span>
    </td>

    <td>
      {% include theme_stars.html theme=theme %}
    </td>

    <td>
      <div>
         <a href="{{ theme.home_url }}">
          <img height="100" src="/themes/thumbnails/{{theme.thumbnail}}">
         </a>
      </div>
    </td>

    <td>
          <div>
              <a href="{{ theme.home_url }}"><b>{{ theme.name }}</b></a>
              by
              {% include author.html author=theme.author %}

              (License: {{ theme.license }})
              <br>
              {% include theme_links.html theme=theme %}
          </div>

    </td>
  </tr>
{% endfor %}
</table>
