---
layout: page
title:  "Trending"
---


{% assign trending_themes = site.data.o.themes | sort: "stars_week" | reverse %}

<table>
{% for theme in trending_themes limit:22 %}
  <tr>

    <td>
        <span style="font-size: 300%">{{ forloop.index }}.</span>
    </td>

    <td>
        {% if theme.stars_week %}
          ⇑{{ theme.stars_week}}
        {% endif %}
    </td>

    <td>
      <div>
         <a href="{{ theme.home_url }}">
          <img height="100" src="{{site.path}}/themes/thumbnails/{{theme.thumbnail}}">
         </a>
      </div>
    </td>

    <td>
          <div>
              <a href="{{ theme.home_url }}"><b>{{ theme.name }}</b></a>
              {% if theme.stars %}
                (★{{ theme.stars }})
              {% endif %}

              by
              {% include author.html author=theme.author %}

              (License: {{ theme.license }})
              <br>
              {% include theme_links.html theme=theme %}
          </div>

    </td>
  </tr>
{% endfor %}
</table>
