
{% assign theme = include.theme %}

<div class='theme'>
  <div class='theme-preview'>
      <a href="{{ theme.home_url }}">
        <img src="{{site.path}}/themes/thumbnails/{{theme.thumbnail}}">
       </a>
    </div>
    <div class='theme-info'>

        <a href="{{ theme.home_url }}"><b>{{ theme.name }}</b></a>

        {% include theme_stars.html theme=theme %}

        by
        {% include theme_author.html theme=theme %}

        (License: {% if theme.license %}{{ theme.license }}{% else %}???{% endif %})
        <br>
      <!--
        {% if theme[1].home_url %}
           <a href="{{ theme[1].home_url }}">[More Info]</a>
        {% endif %}
      -->
        {% if theme.demo_url %}
           <a href="{{ theme.demo_url }}">[Live Demo]</a>
        {% endif %}
        <a href="{{ theme.download_url }}">[Download (.zip)]</a>
        {% if theme.gem %}
           <a href="https://rubygems.org/gems/{{ theme.gem }}">[Bundle (.gem)]</a>
        {% endif %}
        {% if theme.tags %}
          <br>
          {% for tag in theme.tags %}
            #{{tag}}
          {% endfor %}
        {% endif %}
    </div>
  </div>
