---
layout: default
---

{% assign author = site.data.author_by_name[page.name] %}

<div id="page">

  <div class="author-box" style="float: right; width: 250px; background-color: white;">
    <div>
      {% avatar user=author.github size=230 %}
    </div>
    <div>
      <h2>{{ page.name }}</h2>

      <ul class="links">
        <li><a href="https://github.com/{{author.github}}">@{{author.github}}</a> on GitHub
        </li>

      {% if author.rubygems %}
        <li>
          <a href="https://rubygems.org/profiles/{{author.rubygems}}">@{{author.rubygems}}</a> on RubyGems
        </li>
      {% endif %}

      {% if author.twitter %}
        <li>
          <a href="https://twitter.com/{{author.twitter}}">@{{author.twitter}}</a> on Twitter
        </li>
      {% endif %}

      </ul>
    </div>
  </div>


  <h1>
   {{ page.name }}
  </h1>

  <h2>Themes ({{ page.themes | size }})</h2>

<div class='gallery'>
{% for theme_name in page.themes %}

  {% assign theme = site.data.o.theme_by_name[theme_name] %}
  {% include theme.html theme=theme %}

{% endfor %}
</div>



  <!-- todo: check if content is empty? possible?

  <h2>Notes</h2>

   -->

  {{ content }}

</div>
